<div class="container">
  <div class="row min-vh-100">
    <div class="col-sm-12 col-md-6 m-auto">
      <img
        class="w-100 img-fluid py-3 px-5"
        src="assets/img/totto.png"
        alt="logo totto"
      />
      <form
        [formGroup]="registroForm"
        autocomplete="off"
        class="formulario py-1 px-5 mb-5"
        (ngSubmit)="guardarDatos(registroForm.value)"
        #formulario="ngForm"
      >
        <h4 class="my-5 text-center">Registra tus datos para ganar</h4>
        <div class="form-group">
          <span
            *ngIf="
              registroForm.get('nombre').hasError('required') &&
              registroForm.get('nombre').touched
            "
            class="text-white"
            >El Nombre es obligatorio</span
          >
          <input
            required
            type="text"
            class="form-control"
            id="nombre"
            name="nombre"
            placeholder="Nombre Completo"
            formControlName="nombre"
          />
        </div>

        <div class="form-group">
          <span
            *ngIf="
              registroForm.get('carnet').hasError('required') &&
              registroForm.get('carnet').touched
            "
            class="text-white"
            >El carnet es obligatorio</span
          >
          <input
            required
            type="number"
            class="form-control"
            id="carnet"
            name="carnet"
            placeholder="Carnet"
            formControlName="carnet"
          />
        </div>

        <div class="form-group">
          <span
            *ngIf="
              registroForm.get('telefono').hasError('required') &&
              registroForm.get('telefono').touched
            "
            class="text-white"
            >El teléfono es obligatorio</span
          >
          <input
            required
            type="number"
            class="form-control"
            id="telefono"
            name="telefono"
            placeholder="Teléfono"
            formControlName="telefono"
          />
        </div>

        <div class="form-group">
          <span
            *ngIf="
              registroForm.get('correo').hasError('required') &&
              registroForm.get('correo').touched
            "
            >El correo es obligatorio</span
          >
          <input
            required
            type="email"
            class="form-control"
            id="correo"
            name="correo"
            email
            placeholder="Correo"
            formControlName="correo"
          />
        </div>

        <div class="form-group">
          <span
            *ngIf="
              registroForm.get('factura').hasError('required') &&
              registroForm.get('factura').touched
            "
            class="text-white"
            >La factura es obligatoria</span
          >
          <input
            required
            type="number"
            class="form-control"
            id="factura"
            name="factura"
            placeholder="Factura"
            formControlName="factura"
          />
        </div>

        <div class="form-group">
          <span
            *ngIf="
              registroForm.get('monto').hasError('required') &&
              registroForm.get('monto').touched
            "
            class="text-white"
            >El monto es obligatorio</span
          >
          <input
            required
            type="number"
            class="form-control"
            id="monto"
            name="monto"
            placeholder="Monto mayor o igual a 450Bs"
            formControlName="monto"
          />
        </div>

        <div class="form-group">
          <span
            *ngIf="
              registroForm.get('ciudad').hasError('required') &&
              registroForm.get('ciudad').touched
            "
            class="text-white"
            >La ciudad es obligatoria</span
          >

          <select
            formControlName="ciudad"
            required
            name="ciudad"
            class="form-control"
          >
            <option value="" disabled selected hidden>Ciudad</option>
            <option value="La Paz">La Paz</option>
            <option value="Oruro">Oruro</option>
            <option value="Potosí">Potosí</option>
            <option value="Cochabamba">Cochabamba</option>
            <option value="Chuquisaca">Chuquisaca</option>
            <option value="Tarija">Tarija</option>
            <option value="Pando">Pando</option>
            <option value="Beni">Beni</option>
            <option value="Santa">Santa Cruz</option>
          </select>
        </div>

        <button
          [disabled]="registroForm.invalid"
          type="submit"
          class="button-registro btn btn-primary btn-block my-5"
        >
          Registrar
        </button>
      </form>
    </div>
  </div>
</div>
