<div class="row">
  <div class="col-md-12 mt-5 d-flex justify-content-center">
    <form (ngSubmit)="registrar(formulario)" #formulario="ngForm">
      <div class="form-group">
        <label for="nombre">Nombre completo</label>
        <br />
        <span
          *ngIf="formulario.submitted && formulario.controls['nombre'].errors"
          class="text-danger"
          >El Nombre es obligatorio</span
        >
        <input
          required
          type="text"
          class="form-control"
          id="nombre"
          name="nombre"
          ngModel
        />
      </div>

      <div class="form-group">
        <label for="carnet">Carnet de identidad</label>
        <br />
        <span
          *ngIf="formulario.submitted && formulario.controls['carnet'].errors"
          class="text-danger"
          >El carnet es obligatorio</span
        >
        <input
          required
          type="text"
          class="form-control"
          id="carnet"
          name="carnet"
          ngModel
        />
      </div>

      <div class="form-group">
        <label for="telefono">Teléfono</label>
        <br />
        <span
          *ngIf="formulario.submitted && formulario.controls['telefono'].errors"
          class="text-danger"
          >El teléfono es obligatorio</span
        >
        <input
          required
          type="number"
          class="form-control"
          id="telefono"
          name="telefono"
          ngModel
        />
      </div>

      <div class="form-group">
        <label for="correo">Correo Electrónico</label>
        <br />
        <span
          *ngIf="formulario.submitted && formulario.controls['correo'].errors"
          class="text-danger"
          >El correo es obligatorio</span
        >
        <input
          required
          type="email"
          class="form-control"
          id="correo"
          name="correo"
          ngModel
        />
      </div>

      <div class="form-group">
        <label for="factura">Número de factura</label>
        <br />
        <span
          *ngIf="formulario.submitted && formulario.controls['factura'].errors"
          class="text-danger"
          >La factura es obligatoria</span
        >
        <input
          required
          type="number"
          class="form-control"
          id="factura"
          name="factura"
          ngModel
        />
      </div>

      <div class="form-group">
        <label for="monto">Monto en bolivianos</label>
        <br />
        <span
          *ngIf="formulario.submitted && formulario.controls['monto'].errors"
          class="text-danger"
          >El monto es obligatorio</span
        >
        <input
          required
          type="number"
          class="form-control"
          id="monto"
          name="monto"
          ngModel
        />
      </div>

      <div class="form-group">
        <label for="ciudad">Ciudad</label>
        <br />
        <span
          *ngIf="formulario.submitted && formulario.controls['ciudad'].errors"
          class="text-danger"
          >La ciudad es obligatoria</span
        >
        <input
          required
          type="text"
          class="form-control"
          id="ciudad"
          name="ciudad"
          ngModel
        />
      </div>

      <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
  </div>
</div>
